<html>
    <head>
        
    </head>
    
    <body>
    <div class="center">    
        <div class="jumbotron jtt">
            <h1>Cube Site</h1>
            <p>The homepage for my site</p>
        </div>
        
        <div class="jth2 jumbotron "></div>
        
    </div>
    </body>
</html>