
   <div class="jumbotron center">


  <h1>Develop and Build</h1>

</div>

 
 <div class="col-lg-4">
  <div class="container" id="email_link">
  <h2>Cloud9</h2>
  <p>Make your projects here</p>
  <%= link_to "Email", "/email", class: "btn btn-lg btn-success" %>
  </div>
  </div>
  

  <div class="col-lg-4">
  <div class="container" id="cloud_link">
  <h2>Github</h2>
  <p>Store your projects here and push and fork them</p>
  <%= link_to "Cloud", "/cloud", class: "btn btn-lg btn-success" %>
  </div>
  </div>
  
  <div class="col-lg-4">
  <div class="container" id="???">
  <h2>Major Techincal Projects</h2>
  <p>See the actual updates of the massive projects</p>
  <%= link_to "Major Technical Projects", "/mtp", class: "btn btn-lg btn-success" %>
  </div>
  </div>

  