<html>
    <head>
        
    </head>

    <body>
        <div class="center">
            <div class="jumbotron center jtt">
                 <h1>Mail</h1>
                 <p>Read and write mails with the gmail integrated ware.</p>
            </div>
            
            <div class="jumbotron jth2">
                <h2></h2>
            </div>
        </div>
    </body>
</html>