<body id="bgimage">
 <div id="bgimage">
<div class="center jumbotron" >

<div id="dnb_link" class="container">
  
  <h1><b>Develop and build</b></h1>
  <p>Make your programs and sites here with the Cloud9 API</p>
  <p>Click here to make apps, sites and programs with:</p>
  <p>Ruby On Rails, Python, JS and many other languages.</p>
  <%= link_to "Develop and build", "/develop_and_build", class: "btn btn-lg btn-primary" %>
  </div>
</div>
  
  <div class="container rhol">
<div class="row ">
  
  <div class="col-lg-4">
  <div class="container" id="email_link">
  <h2><b>Music</b></h2>
  <p>Listen to your favorite tracks with the Soundcloud API</p>
  <%= link_to "Music", "/music", class: "btn btn-lg btn-success" %>
  </div>
  </div>

  <div class="col-lg-4">
  <div class="container" id="cloud_link">
  <h2><b>Cloud</b></h2>
  <p>Store your files with the Google Drive API</p>
  <%= link_to "Cloud", "/cloud", class: "btn btn-lg btn-success" %>
  </div>
  </div>
  
  <div class="col-lg-4">
  <div class="container" id="mail_link">
  <h2><b>Mail</b></h2>
  <p>Check your mail and send mails to your friends</p>
  <%= link_to "Mail", "/email", class: "btn btn-lg btn-success" %>
  </div>
  </div>
 </div>
 </div>
 
 <div class="jumbotron recent">
  <div class="container">
    <h2>Recent Alerts</h2>
  </div>
  
  <div class="container" id="recent_mails">
  <p>Mails:</p>
  </div>
  
  <div class="container" id="recent_music">
  <p>Last listened playlist on Soundcloud:</p>
  </div>
  
  <div class="container" id="recent_uploaded">
    <p>Recent Uploaded Files</p>
  </div>
</div>
</div>
</body>