
<div class="jumbotron jtt center login_jumbotron">
  <div id="dnb_link" class="container">
    <h1>Sign in</h1>
    <div class="input-group">
      <input type="login" class="form-control username center" placeholder="Username" aria-describedby="sizing-addon2">
      <input type="password" class="form-control password center" placeholder="Password" aria-describedby="sizing-addon2">
    </div>
   <%= link_to "Sign in", "/home", class: "btn btn-lg btn-success sib" %>
      </div>
  
</div>
