<html>
    <head>
        
    </head>

    <body>
        <div class="center">
            <div class="jumbotron center jtt">
                 <h1>Photo album</h1>
                 <p>Add and download photos and give slide shows with it on te homepage.</p>
            </div>
            
            <div class="jumbotron jth2">
                <h3>Albums:</h3>
            </div>
        </div>
    </body>
</html>