<html>
    <head>
        
    </head>
    
    <body>
        <div>
            <div class="jumbotron jtt center">
                <h1>Virtual Reality Development</h1>
            </div>
            
            <div class="container">
                <div class="jumbotron jth2 center">
                    <h2>VR Cardboard Projects</h2>
                </div>
                
                <div class="jumbotron jth2 center">
                    <h2>VR Oculus Projects</h2>
                </div>
            </div>
        </div>
    </body>
</html>