body  {
    background: url('background.png')!important;
    
}

.rhol {
    color: #fff;
}

#dnb_link {
    
}



.jtt {
    background-color: #4DB870!important;
}

.jth2 {
    background-color: #AFDFBE!important;
}

.white {
    color: white;
}
#email_link {
    
}

#cloud_link {
    
}

#programmed_link {
    
}


.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

.recent {
    margin-top: 20px;
}

.footer {
    margin-top: 25px;
    border-top: 2px solid #eaeaea;
    color: #777;
}

.sib {
    margin-top: 10px;
    width: 200px;
}

.username, .password {
    margin-top: 5px;
    position: absolute;
    left: 370px;
}

jthpdb {
    background-color: #0040FF!important;
    color: blue;
    
}

#lt {
    font-color: white;
}




body, .su {
  background: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  padding: 0;
  width: 100%;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}


.jtpl {
    background-color: #FF4000!important;
}

@import "bootstrap-sprockets";
@import "bootstrap";